@import "variables";

.inputs {
  display: grid;
  gap: 0.75rem;
  position: relative;

  .input-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      color: $darkGrey;
      font-size: 0.75rem;
    }

    input, select {
      padding: 0.75rem 1rem;
      color: $darkGrey;
      font-size: 1rem;
      font-weight: 400;
      border-radius: 8px;
      border: 1px solid $borders;
      background: $white;
      outline: none;

      &:focus {
        border-color: $purple;
        box-shadow: 0 0 32px 0 rgba(99, 60, 255, 0.25);
      }
    }
  }
}