@import "variables";
@import "mixins";

.inputs {
  display: grid;
  gap: 0.75rem;
  position: relative;

  .input-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      color: $darkGrey;
      font-size: 0.75rem;
    }

    &.platform input {
      cursor: pointer;
    }

    input {
      padding: 0.75rem 1rem 0.75rem 2.2rem;
      color: $darkGrey;
      font-size: 1rem;
      font-weight: 400;
      border-radius: 8px;
      border: 1px solid $borders;
      background: $white;
      outline: none;
      width: 100%;

      &:focus {
        border-color: $purple;
        box-shadow: 0 0 32px 0 rgba(99, 60, 255, 0.25);
      }
    }

    .input-icons {
      position: relative;

      .link-icon {
        position: absolute;
        top: 50%;
        left: 0.75rem;
        transform: translateY(-50%);
      }

      .chevron {
        position: absolute;
        right: 0.75rem;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.2s linear;
        
        &.flip{
          transform: rotateY(180deg) rotateX(180deg) translateY(50%);
        }
      }
    }
  }
}